<div class="border-top py-4 mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                Základní škola a gymnázium Ježek bez klece <br />
                Lidická 6a, 602 00 Brno <br />
            </div>
            <div class="col-lg">
                <a href="https://www.facebook.com/jezekbezklece/">
                    <i class="bi bi-facebook"></i> Facebook
                </a>
                <br />
                <a href="https://www.instagram.com/jezekbezklece.cz/">
                    <i class="bi bi-instagram"></i> Instagram
                </a>
            </div>
            <div class="col-lg">
                <a href="https://jbk.edookit.net/">
                    <i class="bi bi-book"></i> Edookit (rodiče a žáci)
                </a>
                <br />
                <a href="https://jbk-login.edookit.net/">
                    <i class="bi bi-book"></i> Edookit (zaměstnanci)
                </a>
                <br />
                <a href="http://mail.google.com/a/jezekbezklece.cz/">
                    <i class="bi bi-google"></i> Google Workspace
                </a>
                <br />
                <a href="https://jezekbezklece.reservio.com/">
                    <i class="bi bi-calendar"></i> Reservio
                </a>
            </div>
        </div>
    </div>
</div>
